.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json
/face-images
/iso-data
/insightface/__pycache__
/insightface/data
ignored-media
cert
cert2
.DS_Store
share
googleSP2T/temp
output.wav
temp
.env
googleSP2T/temp
googleSP2T/results
poetry.lock
__pycache__
/insightface/wget-log
flask/CREATE TABLE IBS.sql
insightface/cuda_11.8.0_520.61.05_linux.run
flask/records
flask/temp
flask/logs
flask/recog
flask/recognized_faces_log.csv
flask/face-images
mac-venv
iso-fr-2
iso-diarizer/large-v3
iso-diarizer/segmentation-3.0.onnx
iso-diarize/mycert.crt
iso-diarize/mycert.key
iso-diarize/ssl-cert-sclerlk
iso-diarize/services/large-v3
iso-diarize/services/models
flask/services/camera_processor/face-images
config.xml
iso-fr/face-images
Facial-Emotion-Recognition-PyTorch-ONNX
ExamplePersonel.json
iso-fr-mac