.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json
/face-images
/iso-data
/insightface/__pycache__
/insightface/data
ignored-media
cert
cert2
.DS_Store
share
googleSP2T/temp
output.wav
temp
.env
googleSP2T/temp
googleSP2T/results
poetry.lock
__pycache__