<configuration>
    <!-- General Authentication and CORS Configuration -->
    <auth_config>
        <jwt secret_key="isoai" expire_seconds="6000000">
            <token_location>["cookies"]</token_location>
            <cookie_paths>
                <access path="/"/>
                <refresh path="/refresh"/>
            </cookie_paths>
            <cookie_security secure="false" csrf_protect="true"/>
        </jwt>
        <cors origins="*" supports_credentials="true"/>
    </auth_config>

    <!-- Service Configuration -->
    <services>
        <auth_service port="5001" host="0.0.0.0" debug="true"/>
        <face_recognition_service port="5002" host="0.0.0.0" debug="true"/>
        <speaker_diarization_service port="5003" host="0.0.0.0" debug="true" device="cuda">
            <logging_collection>logs</logging_collection>  <!-- This should already be in place -->
            <temp_directory>temp</temp_directory>
        </speaker_diarization_service>
        <utils_service port="5004" host="0.0.0.0" debug="true"/>

        <mongo uri="mongodb://isoai_root:isoai_secret@mongo:27017/isoai?authSource=admin"
               db_name="isoai"
               username="isoai_root"
               password="isoai_secret"/>
        <fluentbit/>
        <solr/>
    </services>
</configuration>
