<configuration>
    <!-- General Authentication and CORS Configuration -->
    <auth_config>
        <jwt secret_key="isoai" expire_seconds="6000000">
            <token_location>["cookies","headers"]</token_location>
            <cookie_paths>
                <access path="/"/>
                <refresh path="/refresh"/>
            </cookie_paths>
            <cookie_security secure="false" csrf_protect="true"/>
        </jwt>
        <cors origins="*" supports_credentials="true"/>
    </auth_config>

    <!-- Service Configuration -->
    <services>
        <auth_service port="5001" host="0.0.0.0" debug="true"/>
        <face_recognition_service port="5002" host="0.0.0.0" debug="true" device="cpu">
            <logging_collection>logs</logging_collection>
            <camera_collection>cameras</camera_collection>
            <temp_directory>temp</temp_directory>
            <device>cuda</device>
            <anti_spoof>false</anti_spoof>
            <video_folder>./records</video_folder> <!-- New addition -->
            <base_recog_dir>recog</base_recog_dir> <!-- New addition -->
            <face_images_path>./face-images</face_images_path> <!-- New addition -->
            <stream_quality_mapping> <!-- Stream Quality Mapping Configuration -->
                <quality resolution="1920x1080" compression="20"/>
                <balanced resolution="1280x720" compression="50"/>
                <bandwidth resolution="1280x720" compression="75"/>
                <mobile resolution="800x450" compression="75"/>
            </stream_quality_mapping>
        </face_recognition_service>


        
        <speaker_diarization_service port="5003" host="0.0.0.0" debug="true" device="cpu">
            <logging_collection>logs</logging_collection>
            <temp_directory>temp</temp_directory>
        </speaker_diarization_service>
        <utils_service port="5004" host="0.0.0.0" debug="true">
            <logging_collection>logs</logging_collection>
            <temp_directory>temp</temp_directory>
            <solr_url>http://solr:8983/solr/isoai</solr_url> <!-- Added Solr URL for utils_service -->
        </utils_service>
        <mongo uri="mongodb://isoai_root:isoai_secret@mongo:27017/isoai?authSource=admin"
               db_name="isoai"
               username="isoai_root"
               password="isoai_secret"/>
        <fluentbit/>
        <solr/>
    </services>
</configuration>
