flask==3.0.3
opencv-python==4.9.0.80
# onnxruntime==1.17.1
onnxruntime-gpu == 1.17.1
onnx==1.16.0
scikit-image==0.23.2
transformers==4.41.2
flask-cors==4.0.1
pyannote-audio==3.2.0
pydub==0.25.1
torch==2.3.0
torchvision==0.18.0
insightface==0.7.3
# openai-whisper==20231117
oracledb == 2.2.0
python-dotenv==0.19.2
flask-socketio==5.3.6
pymongo == 4.7.2
psutil==5.9.8
xmltodict==0.13.0
flask_jwt_extended==4.6.0
whisper-run== 1.0.0