# gunicorn==22.0.0
requests==2.27.1
flask==3.0.3
flask-Cors==4.0.1
pymongo==4.7.3
# torch==2.3.0
torchvision==0.18.0 
whisper-run== 1.2.63
python-dotenv==1.0.1
flask-SocketIO==5.3.6
flask-jwt-extended==4.6.0
numpy==1.26.4
pydub==0.25.1
# eventlet==0.36.1
# onnxruntime==1.17.1
onnxruntime-gpu==1.17.1