__pycache__
bin
data
include
insightface
lib
lib64
logs
pyannote_onnx
recog
records
share
venv
.gitignore
recognized_faces_log.csv
pyvenv.cfg
Dockerfile-gpux
services/camera_processor/__pycache__
services/camera_processor/enums/__pycache__
services/camera_processor/test.py
services/camera_processor/setup.py
services/camera_processor/local_camera.py
face-images
temp