Flask==3.0.3
Flask-Cors==4.0.1
pymongo==4.7.3
python-dotenv==1.0.1
Flask-SocketIO==5.3.6
Flask-JWT-Extended==4.6.0
numpy==1.26.4
opencv-python
pandas==2.2.2
onnx==1.16.0
onnxruntime-gpu==1.17.1
# onnxruntime==1.17.1
scikit-image==0.24.0
transformers==4.41.2
torch==2.3.0
torchvision==0.18.0
insightface==0.7.3
six==1.16.0
requests==2.27.1